$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }